@-webkit-keyframes zoom-a {
	0% { background-size: 100% auto; }
	100% { background-size: 120% auto; }
}
@-moz-keyframes zoom-a {
	0% { background-size: 100% auto; }
	100% { background-size: 120% auto; }
}
@-o-keyframes zoom-a {
	0% { background-size: 100% auto; }
	100% { background-size: 120% auto; }
}
@keyframes zoom-a {
	0% { background-size: 100% auto; }
	100% { background-size: 120% auto; }
}

.efectoZoom {
    -webkit-animation: zoom-a 10s linear infinite alternate; /* Safari 4+ */
    -moz-animation:    zoom-a 10s linear infinite alternate; /* Fx 5+ */
    -o-animation:      zoom-a 10s linear infinite alternate; /* Opera 12+ */
    animation:         zoom-a 10s linear infinite alternate; /* IE 10+, Fx 29+ */
  }