@font-face {
    font-family: 'minecraft';
    src: url('../fonts/Minecraft.ttf') format('truetype');
  }
*{
    font-family: minecraft;
}
body{
  margin: 0;
}
main{
  margin-bottom: 140px;
}
#menu_server {
  position: relative;
  background-image: url("../imagenes/minecraft-fondo.jpg");
  background-size: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#menu_server_img {
  visibility: hidden;
  width: 100%;
}
#menu_titulo {
  width: 40%;
  position: absolute;
  text-align: center;
  z-index: 5;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#menu_titulo p {
  color: white;
  font-size: 20px;
  line-height: 1.5em;
  background-color: #f0a72090;
}
#menu_titulo button {
  color: white;
  background-color: #36b030;
  padding: 14px 16px;
  border: none;
  transition-duration: 0.4s;
  width: 200px;
  font-size: 20px;
}
#menu_titulo button:hover {
  background-color: #333333a3;
  color: #bcffb7;
  border: #36b030 solid 4px;
}

#menu-lista{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-image: url("../imagenes/header-background.jpg");
}
#menu-lista img{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 40%;
}
#menu-lista ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
#menu-lista ul li {
   
    color: white;
    background-color: #36b030;
    padding: 10px 13px;
    border: none;
    transition-duration: 0.4s;
    width: 120px;
    font-size: 15px;
  text-align: center;
  margin-right: 40px;
}
#menu-lista ul li a {
  text-decoration: none;
  color: white;
}
#menu-lista ul li:hover {
  background-color: green;
}



#carta-noticias{
  position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
}
#carta-sticker01{
  position: absolute;
  left: 0;
  z-index: -1;
}
#carta-sticker03{
  position: absolute;
  right: 10%;
  bottom: 0;
  z-index: -1;
}
#carta-img-titulo{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}
.carta-columna{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin-right: 20px;
}
.carta-cabecera{
   
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.carta-seccion button{
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #36b030;
    padding: 10px 13px;
    border: none;
    transition-duration: 0.4s;
    width: 120px;
    font-size: 15px;
  text-align: center;
}
.carta-seccion button:hover {
    background-color: green;
  }
.carta-seccion{
    position: relative;
    color: white;
    background-color: rgba(0, 81, 0, 0.837);
    padding: 40px;
}
.carta-seccion .carta-titulo{
    font-size: 30px;
    margin-bottom: 10px;
}
.carta-seccion .carta-descripcion{
    font-size: 15px;
    margin-bottom: 10px;
}

.carta-seccion p{
    margin: 0;
}
.carta-cabecera img{
    width: 100%;
}
#carta-adicional{
  display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 160px;
   
}
#carta-boton{
  color: white;
  background-color: #36b030;
  padding: 14px 16px;
  border: none;
  transition-duration: 0.4s;
  width: 200px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
#carta-boton:hover {
  background-color: green;
}


#stream_fondo_img {
  visibility: hidden;
  width: 100%;
}
#stream {
  position: relative;
  background-image: url("../imagenes/fondos/fondoVerde.jpg");
  background-size: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#stream_video {
  width: 60%;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-left: 30px #41C406 solid;
border-top: 30px #41C406 solid;

  border-right: 30px #64DD2E solid;

border-bottom: 30px #64DD2E solid;
}
#stream_video video{
  width: 100%;
}


#carta-sticker02{
  position: absolute;
  left: 10%;
  top:-100px;
  z-index: 10;
}
#carta-sticker04{
  position: absolute;
  right: 10%;
  bottom: 0;
  z-index: 5;
}
#stream_img_titulo{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

#destacados_fondo_img {
  visibility: hidden;
  width: 100%;
}
#destacados {
  position: relative;
  background-image: url("../imagenes/fondos/fondoCielo.png");
  background-size: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  

}

#destacados_tabla{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#destacados_seccion01{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: radial-gradient(at top right, #3E3733 0%, #262B3B 100%);
}
#destacados_seccion01 img{
  width: 100%;
}
#destacados_seccion02{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
.destacados_titulo_h{
  font-size: 20px;
}
.destacados_descripcion_h{

  color: #FFFFFFA3
}
.destacados_tarjeta img{
  width: 250px;
  height: 175px;
}
.destacados_tarjeta{
  display: flex;
  flex-direction: row;
  
} 
.destacados_texto{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  padding: 30px;
  background-image: linear-gradient(100deg, #435870 0%, #14141478 100%);
}

.destacados_principal{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 45px;
}
.destacados_titulo_v{
  font-size: 30px;
}
.destacados_descripcion_v{
  font-size: 20px;
  color: #FFFFFFA3
}

.parent p{
  margin: 0;
}
.parent {
  width: 70%;
  margin-top: 50px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  position: absolute;
  top: 50%;
  z-index: 5;
    left: 50%;
    transform: translate(-50%, -50%);
  }

 
  #destacados_logo{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
  }


  .div1 { grid-area: 1 / 1 / 4 / 2;
     }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 2 / 2 / 3 / 3; }
  .div4 { grid-area: 3 / 2 / 4 / 3; }

  #destacados-adicional{
    display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
     margin-top: 20px;
  }
  #destacados-boton{
    color: white;
    background-color: #36b030;
    padding: 14px 16px;
    border: none;
    transition-duration: 0.4s;
    width: 200px;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  #destacados-boton:hover {
    background-color: green;
  }


  #inventario {
    position: relative;
    background-image: url("../imagenes/fondos/fondoMazmorra.jpg");
    background-size: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #inventario_fondo_img {
    visibility: hidden;
    width: 100%;
  }

  #inventario_galeria{
    display: flex;
    flex-direction: row;
    justify-content:center;
    position: absolute;
    width: 70%;
  top: 50%;
  z-index: 5;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #inventario_galeria img{
    margin-bottom: 25px;
  }
  .inventario_carta{
    width: 100%;
    background-color: #141414DB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 15px;
  }
  .inventario_carta p{
    color: white;
    text-align: center;
    padding: 30px;
    margin: 0;
  }
  .inventario_carta p:hover {
    color: #41C406;
  }
  .inventario_carta a{
    text-decoration: none;
  }
  .inventario_titulo{
    font-size: 25px;
  }
  .inventario_carta .oferta{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
  }
  .inventario_carta .oferta p{
    margin-right: 20px;
  }
  .inventario_carta .oferta p span{
    color: #41C406;
    text-decoration: line-through;
  }
  #inventario_img_titulo{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  #inventario-adicional{
    display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
     
  }
  #inventario-boton{
    color: white;
    background-color: #36b030;
    padding: 14px 16px;
    border: none;
    transition-duration: 0.4s;
    width: 200px;
    font-size: 20px;
    margin-bottom: 60px;
  }
  #inventario-boton:hover {
    background-color: green;
  }