@-webkit-keyframes zoom-b {
	0% {transform: scale(1); }
	100% { transform: scale(1.1);}
}
@-moz-keyframes zoom-b {
	0% {transform: scale(1); }
	100% { transform: scale(1.1);}
}
@-o-keyframes zoom-b {
	0% {transform: scale(1); }
	100% { transform: scale(1.1);}
}
@keyframes zoom-b {
	0% {transform: scale(1); }
	100% { transform: scale(1.1);}
}

.imagenZoom {
    -webkit-animation: zoom-b 5s linear infinite alternate; /* Safari 4+ */
    -moz-animation:    zoom-b 5s linear infinite alternate; /* Fx 5+ */
    -o-animation:      zoom-b 5s linear infinite alternate; /* Opera 12+ */
    animation:         zoom-b 5s linear infinite alternate; /* IE 10+, Fx 29+ */
  }